body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.App {
	text-align: center;
	background-color: #292d32;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: #f8f9fa;
}

.board {
	outline: 1px solid #6c757d;
}

.row {
	height: calc(20px + 2vmin);
}

.cell {
	width: calc(20px + 2vmin);
	height: calc(20px + 2vmin);
	outline: 1px solid #6c757d;
	display: inline-block;
}

.snake-cell {
	background-color: #4ba83a;
}

.food-cell {
	background-color: #f44336;
}
